.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 10rem;


}

.textarea-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem 21rem;

  textarea {
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/
    padding: .5rem;

    width: 100%;
    min-height: 300px;
    border: 1px solid #ddd;
    border-radius: .5rem;
    font-size: .8rem;
    font-family: "Fira Code", "Roboto Mono", monospace;
    margin-right: 1rem;
    margin-bottom: 1rem;

    background-color:#333;
    color: #6ca3eb;
  }
}

.button {
  height: 3rem;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  font-size: .9rem;
  border: none;
  height: auto;
  width: auto;
  align-self: center;
  padding: .8rem;
  border-radius: 8px;
  cursor: pointer;

  transition: background-color .2s ease-in-out;
  &:hover {
    background-color: #115293;
  }

  &:disabled {
    background-color: #9e9e9e;
    cursor: not-allowed;
  }
}
